PORT=5055
DATABASE_URL="file:./dev.db"
JWT_SECRET=
JWT_EXPIRES_IN=7d
TMDB_API_KEY=
CLIENT_URL=http://localhost:3000
NODE_ENV=development
DEMO_ADMIN_EMAIL=admin@moviehub.local
DEMO_ADMIN_PASSWORD=
DEMO_USER_EMAIL=usuario@moviehub.local
DEMO_USER_PASSWORD=
