@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0f172a;
  --sidebar: #111827;
  --card: #1e293b;

  --primary: #8b5cf6;
  --primary-hover: #7c3aed;

  --text: #f8fafc;
  --text-secondary: #94a3b8;

  --border: rgba(255, 255, 255, 0.05);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);

  font-family: "Inter", sans-serif;

  overflow-x: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0b1120;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}